<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icegame.sysmanage.mapper.JActivityGiftMapper">
	<select id="getGiftList" parameterType="jActivityGift" resultType="jActivityGift">
	<![CDATA[
		select `id`, `targets` , `title`, `channel` , `useType` ,`coin`, `dollar`,  `merit`, `number`, `awardStr`, `useLimit`,`selectedTargetsList`, `diffType`,`cdKeyList` from jactivitygift
		where `diffType` = #{diffType}
	]]>
	</select>

	<select id="getGiftById" parameterType="java.lang.Long" resultType="jActivityGift">
		select `id`, `targets` , `title`, `channel` , `useType` ,`coin`, `dollar`,  `merit`, `number`, `awardStr`, `useLimit`,`selectedTargetsList`, `diffType`,`cdKeyList` from jactivitygift
		where id = #{id}
	</select>

	<select id="getGiftByCDKey" parameterType="jActivityGift" resultType="jActivityGift">
		select `id`, `targets` , `title`, `channel` , `useType` ,`coin`, `dollar`,  `merit`, `number`, `awardStr`, `useLimit`,`selectedTargetsList`, `diffType`,`cdKeyList` from jactivitygift
		where find_in_set(#{cdKeyList}, cdKeyList);
	</select>
	
	<insert id="addGift" parameterType="jActivityGift">
		<selectKey keyProperty="id" resultType="long" order="AFTER" >
               SELECT LAST_INSERT_ID() as id
        </selectKey>
		INSERT INTO jactivitygift(`targets` , `title`, `channel` , `useType` ,`coin`, `dollar`,  `merit`, `number`, `awardStr`, `useLimit`, `selectedTargetsList`, `diffType`,`cdKeyList`)
		VALUES (#{targets},#{title},#{channel},#{useType},#{coin},#{dollar},#{merit},#{number},#{awardStr},#{useLimit},#{selectedTargetsList},#{diffType},#{cdKeyList})
	</insert>
	
	<delete id="delGift" parameterType="java.lang.Long">
		DELETE FROM jactivitygift
		<where>
			`id`=#{id}
		</where>
	</delete>
	
	<update id="updateGift" parameterType="jActivityGift">
		UPDATE jactivitygift  set
           `targets` = #{targets},
           `title` = #{title},
           `channel` = #{channel},
           `useType` = #{useType},
           `coin` = #{coin},
           `dollar` = #{dollar},
           `merit` = #{merit},
           `number` = #{number},
           `awardStr` = #{awardStr},
           `useLimit` = #{useLimit},
           `selectedTargetsList` = #{selectedTargetsList},
           `diffType` = #{diffType},
           `cdKeyList` = #{cdKeyList}
		WHERE id = #{id}
 	</update>
</mapper>