<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icegame.sysmanage.mapper.LocalPushMapper">
	<select id="getLocalPushList" parameterType="localPush" resultType="localPush">
		select `id`,`channel`,`channel_code`,`push_time`,`context` from local_push
		<where>
			<if test="channel != null and channel != '' ">
				and channel like concat("%",#{channel},"%")
			</if>
			<if test="hasChannel != null and hasChannel != ''">
				and `channel` in ${hasChannel}
			</if>
		</where>
	</select>

	<select id="getLocalPushById" parameterType="java.lang.Long" resultType="localPush">
		select `id`,`channel`,`channel_code`,`push_time`,`context` from local_push
		where id = #{id}
	</select>

	<select id="getLocalPushByChannel" parameterType="java.lang.String" resultType="localPush">
		select `id`,`channel`,`channel_code`,`push_time`,`context` from local_push
		where channel = #{channel}
	</select>

	<select id="getChannelList" parameterType="localPush" resultType="localPush">
		select distinct `channel` from local_push
	</select>

	<select id="checkExistChannel" parameterType="localPush" resultType="localPush">
		select `channel` from local_push where `channel` =#{channel}
	</select>

	<insert id="addLocalPush" parameterType="localPush">
		<selectKey keyProperty="id" resultType="long" order="AFTER" >
               SELECT LAST_INSERT_ID() as id
        </selectKey>
		INSERT INTO local_push(`channel`,`channel_code`,`push_time`,`context`)
		VALUES (#{channel},#{channelCode},#{pushTime},#{context})
	</insert>

	<delete id="delLocalPush" parameterType="java.lang.Long">
		DELETE FROM local_push
		<where>
			`id`=#{id}
		</where>
	</delete>

	<update id="updateLocalPush" parameterType="localPush">
		UPDATE local_push  set
		   `channel` = #{channel},
           `channel_code` = #{channelCode},
           `push_time` = #{pushTime},
           `context` = #{context}
		WHERE id = #{id}
 	</update>
</mapper>
