<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper   
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.icegame.gm.mapper.JEvaluateMapper">
	<select id="getJEvaluateList" parameterType="jevaluate" resultType="jevaluate">
		select `id`,`npcId`,`npcName`,`question1`,`answer11`,`answer12`,`answer13`,`answer14`,`question2`,`answer21`,`answer22`,`answer23`,`answer24`,`question3`,`answer31`,`answer32`,`answer33`,`answer34`
		from jevaluate where `npcId` =  #{npcId} or `npcName` = #{npcName}
		<!--<where>
			<if test=" npcId != null and npcId != '' ">
				npcId=#{npcId}
	        </if>
	        <if test=" npcName != null and npcName != '' ">
	           and npcName=#{npcName}
	        </if>
	    </where>-->
	</select>

	<select id="getJEvaluateById" parameterType="java.lang.Long" resultType="jevaluate">
		select `id`,`npcId`,`npcName`,`question1`,`answer11`,`answer12`,`answer13`,`answer14`,`question2`,`answer21`,`answer22`,`answer23`,`answer24`,`question3`,`answer31`,`answer32`,`answer33`,`answer34`
		from jevaluate where id = #{id}
	</select>

	<select id="exists" parameterType="jevaluate" resultType="jevaluate">
		select `npcId` from jevaluate where npcId = #{npcId}
	</select>

    <select id="getEvaluateNpcId" parameterType="jevaluate" resultType="jevaluate">
         select `npcId`,`npcName` from jevaluate
    </select>

    <select id="getEvaluateNpcName" parameterType="jevaluate" resultType="jevaluate">
        select distinct(`npcName`) from jevaluate
    </select>
	
	<!--<insert id="addJEvaluate" parameterType="jevaluate">
		<selectKey keyProperty="id" resultType="long" order="AFTER" >
               SELECT LAST_INSERT_ID() as id
        </selectKey>
		INSERT INTO jevaluate(`npcId`,`npcName`,`question1`,`answer11`,`answer12`,`answer13`,`answer14`,`question2`,`answer21`,`answer22`,`answer23`,`answer24`,`question3`,`answer31`,`answer32`,`answer33`,`answer34`)
		VALUES (#{npcId},#{npcName},#{question1},#{answer11},#{answer12},#{answer13},#{answer14},#{question2},#{answer21},#{answer22},#{answer23},#{answer24},#{question3},#{answer31},#{answer32},#{answer33},#{answer34})
	</insert>-->

    <insert id="addJEvaluate" parameterType="jevaluate" >
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into jevaluate
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="npcId != null" >
                npcId,
            </if>
            <if test="npcName != null" >
                npcName,
            </if>
            <if test="question1 != null" >
                question1,
            </if>
            <if test="answer11 != null" >
                answer11,
            </if>
            <if test="answer12 != null" >
                answer12,
            </if>
            <if test="answer13 != null" >
                answer13,
            </if>
            <if test="answer14 != null" >
                answer14,
            </if>
            <if test="question2 != null" >
                question2,
            </if>
            <if test="answer21 != null" >
                answer21,
            </if>
            <if test="answer22 != null" >
                answer22,
            </if>
            <if test="answer23 != null" >
                answer23,
            </if>
            <if test="answer24 != null" >
                answer24,
            </if>
            <if test="question3 != null" >
                question3,
            </if>
            <if test="answer31 != null" >
                answer31,
            </if>
            <if test="answer32 != null" >
                answer32,
            </if>
            <if test="answer33 != null" >
                answer33,
            </if>
            <if test="answer34 != null" >
                answer34,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="npcId != null" >
                #{npcId,jdbcType=INTEGER},
            </if>
            <if test="npcName != null" >
                #{npcName,jdbcType=VARCHAR},
            </if>
            <if test="question1 != null" >
                #{question1,jdbcType=VARCHAR},
            </if>
            <if test="answer11 != null" >
                #{answer11,jdbcType=INTEGER},
            </if>
            <if test="answer12 != null" >
                #{answer12,jdbcType=INTEGER},
            </if>
            <if test="answer13 != null" >
                #{answer13,jdbcType=INTEGER},
            </if>
            <if test="answer14 != null" >
                #{answer14,jdbcType=INTEGER},
            </if>
            <if test="question2 != null" >
                #{question2,jdbcType=VARCHAR},
            </if>
            <if test="answer21 != null" >
                #{answer21,jdbcType=INTEGER},
            </if>
            <if test="answer22 != null" >
                #{answer22,jdbcType=INTEGER},
            </if>
            <if test="answer23 != null" >
                #{answer23,jdbcType=INTEGER},
            </if>
            <if test="answer24 != null" >
                #{answer24,jdbcType=INTEGER},
            </if>
            <if test="question3 != null" >
                #{question3,jdbcType=VARCHAR},
            </if>
            <if test="answer31 != null" >
                #{answer31,jdbcType=INTEGER},
            </if>
            <if test="answer32 != null" >
                #{answer32,jdbcType=INTEGER},
            </if>
            <if test="answer33 != null" >
                #{answer33,jdbcType=INTEGER},
            </if>
            <if test="answer34 != null" >
                #{answer34,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

	<!--修改信息-->
	<update id="updateJEvaluate" parameterType="jevaluate">
		UPDATE jevaluate
		<set>
			<if test="answer11 != null ">
				answer11 = answer11 + 1,
			</if>
			<if test="answer12 != null ">
				answer12 = answer12 + 1,
			</if>
			<if test="answer13 != null ">
				answer13 = answer13 + 1,
			</if>
			<if test="answer14 != null ">
				answer14 = answer14 + 1,
			</if>
			<if test="answer21 != null ">
				answer21 = answer21 + 1,
			</if>
			<if test="answer22 != null ">
				answer22 = answer22 + 1,
			</if>
			<if test="answer23 != null ">
				answer23 = answer23 + 1,
			</if>
			<if test="answer24 != null ">
				answer24 = answer24 + 1,
			</if>
			<if test="answer31 != null ">
				answer31 = answer31 + 1,
			</if>
			<if test="answer32 != null ">
				answer32 = answer32 + 1,
			</if>
			<if test="answer33 != null ">
				answer33 = answer33 + 1,
			</if>
			<if test="answer34 != null ">
				answer34 = answer34 + 1,
			</if>
		</set>
		WHERE npcId = #{npcId}
	</update>

    <update id="updateAvalue" parameterType="jevaluate">
        UPDATE jevaluate set ${key} = #{value}
        WHERE npcId = #{npcId}
    </update>

</mapper>